$darkWhite:   rgb(255, 240, 240);
$pink:         rgb(246, 48, 136);
$lightPink:    rgb(246, 136, 186);
$lightGreen:  rgb(52, 233, 222);
$happyGreen:  rgb(20, 255, 100);
$red:          rgb(239, 24, 88);
$white:        rgb(255, 255, 255);
$lightGray:   rgb(160, 180, 160);
$lighterGray:   rgb(160, 180, 160);
$gray:         rgb(60, 80, 60);
$black:        rgb(20, 20, 20);
$lightBlue:   light-blue;

$colors: (
  dark-white:  $darkWhite,
  pink:         $pink,
  light-pink:   $lightPink,
  light-green:  $lightGreen,
  happy-green:  rgb(20, 255, 100),
  red:          rgb(239, 24, 88),
  white:        rgb(255, 255, 255),
  light-gray:   rgb(160, 180, 160),
  lighter-gray: rgb(200, 220, 200),
  gray:         rgb(60, 80, 60),
  black:        rgb(20, 20, 20),
  light-blue:   light-blue,
);

@function transparentize($color, $opacity) {
	@return rgba($color, $opacity);
}