// @charset "utf-8";
// $fontPath: "~@/assets/fonts/";
// $fontPath: '../fonts/';

@font-face {
    font-family: Raleway;
    src: url("https://fonts.googleapis.com/css?family=Raleway:100,600");
}

@font-face {
    font-family: Montserrat;
    src: url("~@/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Send;
    src: url("~@/assets/fonts/Sen-Regular.ttf");
}

// @font-face {
//     font-family: IndieFlower;
//     src: url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
// }

@font-face {
    font-family: Railey;
    src: url("~@/assets/fonts/Railey.ttf");
}