// For font weight
$bold: 700;

// For fonts
$large: 20px;
$veryLarge: 32px;

// For z-index
$above: 10;

$sizes: (
    large: $large,
    very-large: $veryLarge
);

.transition-ease {
    transition: all 0.5s ease;
}