@import 'transitions';

body {
    background-color: $darkWhite;
    font-family: Raleway, 'Roboto', sans;
}

h1 {
    font-family: Railey;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
    color: $pink;
}

h1, h2, h3, h4, h5, h6, a {
    font-weight:    700;  
    color:          $pink;
    text-transform: capitalize;
}

a {        
    color: $pink;   
    text-decoration: none;     
    &:hover {
        @extend .transition-ease;
        color: transparentize($pink, 0.6);    
        text-decoration: none;                    
    }
}

div {
    z-index: 0;
}

// Bootstrap overrides
form {
    .group {
        @extend .shadow, .rounded-pill, .vertical;        
        position: relative;
        margin-bottom: 30px;
        width: 100%;
        padding: 10px 30px 10px 30px;            
        
        label {
            font-weight: $bold;
            margin-bottom: 5px;
            color: $pink;
        }
        
        input {
            border: none;
            min-width: 90%;
            outline-color: transparent;
            left: 0;
            font-size: medium;
            &:focus {
                outline-color: transparent;
            }            
        }

        div.error {
            position: absolute;
            bottom: -30px;            
        }        
    }

    button {
        @extend .rounded-pill, .shadow;
        padding: 10px;
        min-width: 7vw;
        background-color: $pink;
        color: $white;
        font-weight: $bold;
        border: none;
        outline: none;

        &:focus, &:active {
            outline: none;
        }

        &:hover {
            @extend .transition-ease;
            color: $darkWhite;
        }
    }
}

.error {
    font-size: small;
    color: red;
    font-weight: bold;
}

// Font Awesome override
.icon {
    margin-right: 10px;
}

// General purpose classes
.shadow {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}

.rounded-pill {        
    border-radius: 50rem !important;
}

.vertical {
    display: flex;
    flex-direction: column;

    &.center {
        align-items: center;
    }

    &.middle {
        justify-content: center;
    }
}

.horizontal {
    display: flex;
    flex-direction: row;

    &.center {
        justify-content: center;
    }

    &.middle {
        align-items: center;
    }
}

.horizontal-fill {
    width: 100%;
}

.vertical-fill {
    height: 100%;
}

.clickable {
    cursor: pointer;
}

$spaces: (5, 10, 20, 30, 50);
@each $space in $spaces {
    .h-space-#{$space} {             
        margin-right: #{$space}px; 
    }

    .v-space-#{$space} {             
        margin-bottom: #{$space}px; 
    }
}

// Bootstrap overrides
.card {
    border: none;
}

